.header-country-location{
    display: flex;
    align-items: end;
    font-size: 13px;
    border-color: gray;
    margin-bottom: -5px;
    margin-left: 15px;

}


.header-country-location img{
    margin-bottom: 8px;
    width: 20%;
    height: 14px;
}

.header-country-location p{
    margin-bottom: -1px;
    color: rgb(194, 193, 193);

}

.header-country-location h1{
    font-size: 15px;
}

.border-white:hover{
    cursor: pointer;
    border: solid white;
    padding: 5px;
}